{{ today | date:'shortDate'}}
<div *ngFor="let book of books;let i=index" class="book" [hidden]="book.title == 1" [class.high]="book.rating == 5">
  <a routerLink="/book/{{i+1}}" class="title">
    {{book.title | titlecase}}
  </a>
  <div class="author" [highlight]="color">{{book.author}}</div>
  <div>{{book.price | currency:'EUR'}}</div>
  <div>{{book.rating | stars:'^'}}</div>
  <div>
    <button (click)="rateUp(book)">&uarr;</button>
    <button (click)="rateDown(book)">&darr;</button>
    <button (click)="addToCart(book)">+</button>
  </div>
</div>