<div>
  Title: <input type="text" #title>
</div>
<div>
  Author: <input type="text" #author>
</div>
<div>
  Price: <input type="text" #price>
</div>
<div>
  Rating: <select #rating>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
</div>

<button (click)="print(title, author, rating, price)">click</button>

<table *ngIf="cart.items.length">
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Qty</th>
  </tr>
  <tr *ngFor="let item of cart.items">
    <td>{{item.name}}</td>
    <td>{{item.price}}</td>
    <td>{{item.qty}}</td>
  </tr>
  <tr>
    <td>Total Price</td>
    <td>{{cart.totalPrice}}</td>
    <td></td>
  </tr>
</table>
<div *ngFor="let book of books" class="book" [hidden]="book.title == 1" [class.high]="book.rating == 5">
  <div class="title">{{book.title}}</div>
  <div class="author">{{book.author}}</div>
  <div>{{book.price}}</div>
  <div>{{book.rating}}</div>
  <div>
    <button (click)="rateUp(book)">&uarr;</button>
    <button (click)="rateDown(book)">&darr;</button>
    <button (click)="addToCart(book)">+</button>
  </div>
</div>